<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MainFrame" type="System.Configuration.DictionarySectionHandler" />
    <section name="Common" type="System.Configuration.DictionarySectionHandler" />
    <section name="SDO" type="System.Configuration.DictionarySectionHandler" />
    <section name="BAF" type="System.Configuration.DictionarySectionHandler" />
    <section name="Audition" type="System.Configuration.DictionarySectionHandler" />  
    <section name="Soccer" type="System.Configuration.DictionarySectionHandler" />   
    <section name="CR" type="System.Configuration.DictionarySectionHandler" />
    <section name="O2JAM" type="System.Configuration.DictionarySectionHandler" />
    <section name="UserCharge" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <MainFrame>
    <add key="ServerSocket_Handler_User" value="用户名" />
    <add key="ServerSocket_Handler_UserLeft" value="已经断开..." />
    <add key="ServerSocket_ServerSocket_GMTools_Title" value="GM管理工具" />
    <add key="ServerSocket_ServerSocket_GMTools_Port" value="监听从客户端的连接，端口号:" />
    <add key="ServerSocket_ServerSocket_GMTools_Accept" value="接受" />
    <add key="ServerSocket_ServerSocket_GMTools_Client" value="客户端" />
    <add key="ServerSocket_ServerSocket_GMTools_Validate" value="开始进行身份验证..." />
    <add key="ServerSocket_Task_Continue" value="按ENTER健继续." />
    <add key="ServerSocket_Task_Query" value="接受客户端连接请求" />
    <add key="ServerSocket_UpdatePatch_Error" value="接收文件时错误" />
  </MainFrame>
  <Common>
    <add key="Logic_Exception_Parameter" value="参数" />
    <add key="Logic_Exception_ExpectedType" value="预期类型" />
    <add key="Logic_Exception_RealType" value="实际类型" />
    <add key="Logic_Exception_ExpectedValue" value="预期类型" />
    <add key="Logic_Exception_RealValue" value="实际类型" />
    <add key="Logic_Exception_Error" value="错误" />
    <add key="Logic_TLV_Structure_NumLength" value="11-12位的数字" />   
    <add key="Logic_TLV_Structure_TagFormatType" value="TagFormat定义的所有类型" />  
    <add key="Logic_UserValidate_User" value="用户名" /> 
    <add key="Logic_UserValidate_AcceptData" value="验证通过,开始接受数据.." />
    <add key="Logic_UserValidate_ValidateFailue" value="验证失败...." />
    <add key="Logic_UserValidate_LoggingFailue" value="已经上线,登陆失败.." />    
    <add key="API_Add" value="添加" />
    <add key="API_Delete" value="删除" />
    <add key="API_Update" value="修改" />
    <add key="API_Success" value="成功" />
    <add key="API_Failure" value="失败" />
    <add key="API_Display" value="显示" />  
    <add key="API_Description" value="描述" />      
    <add key="API_CommonAPI_NewServer" value="新游戏服务器" />
    <add key="API_CommonAPI_GameID" value="游戏ID" />
    <add key="API_CommonAPI_ServerIP" value="游戏服务器IP" />
    <add key="API_CommonAPI_GameCity" value="城市" />
    <add key="API_CommonAPI_GameListEmpty" value="游戏列表为空" />
    <add key="API_CommonAPI_NoLog" value="当前没有操作日志信息" />    
    <add key="API_DepartmentAPI_DepInfo" value="部门信息" />
    <add key="API_DepartmentAPI_NoDepInfo" value="没有部门信息" />
    <add key="API_DepartmentAPI_OperatorID" value="操作员ID" />
    <add key="API_DepartmentAPI_DepID" value="部门ID" />
    <add key="API_DepartmentAPI_DepTitle" value="部门名称" />
    <add key="API_DepartmentAPI_DepDesp" value="部门描述" />
    <add key="API_DepartmentAPI_GameList" value="浏览工具部门所对应游戏列表!" />
    <add key="API_DepartmentAPI_HoldGame" value="得到该用户所在部门的所拥有的游戏!" />    
    <add key="API_GameInfoAPI_GameList" value="游戏列表" />
    <add key="API_GameInfoAPI_GameID" value="游戏ID" />
    <add key="API_GameInfoAPI_GameTitle" value="游戏名称" />
    <add key="API_GameInfoAPI_GameDesp" value="游戏描述" />
    <add key="API_GameInfoAPI_GameInfo" value="游戏信息" />    
    <add key="API_GameInfoAPI_ModuleID" value="模块ID" />
    <add key="API_GameInfoAPI_ModuleTitle" value="模块名称" />
    <add key="API_GameInfoAPI_ModuleDesp" value="模块描述" />
    <add key="API_GameInfoAPI_ModuleClass" value="模块类" />
    <add key="API_GameInfoAPI_GameModuleList" value="游戏所对应模块列表" />
    <add key="API_ModuleInfoAPI_ModuleInfo" value="模块信息" />
    <add key="API_ModuleInfoAPI_NoModuleInfo" value="没有模块信息" />  
    <add key="API_ModuleInfoAPI_ModuleList" value="模块列表" />  
    <add key="API_ModuleInfoAPI_NoModuleList" value="没有模块列表" />      
    <add key="API_NotesInfoAPI_NotesEmailList" value="NOTES邮件列表" /> 
    <add key="API_NotesInfoAPI_NotesTransEmailList" value="NOTES转发邮件列表" /> 
    <add key="API_NotesInfoAPI_EmailID" value="邮件ID" />
    <add key="API_NotesInfoAPI_EmailSubject" value="邮件主题" />
    <add key="API_NotesInfoAPI_EmailContent" value="邮件内容" />
    <add key="API_NotesInfoAPI_EmailSender" value="邮件发件人" />
    <add key="API_NotesInfoAPI_NoDealWithEmail" value="没有要处理的邮件" />
    <add key="API_NotesInfoAPI_NoTransDealWithEmail" value="没有转发过来的邮件" />
    <add key="API_NotesInfoAPI_DealWithEmailFailure" value="处理邮件失败" />    
    <add key="API_UserInfoAPI_NoUserList" value="没有用户列表" />
    <add key="API_UserInfoAPI_AccountInfo" value="GM帐号信息" />
    <add key="API_UserInfoAPI_Password" value="密码" />
    <add key="API_UserInfoAPI_NewPassword" value="新密码" />
    <add key="API_UserInfoAPI_MAC" value="MAC码" />
    <add key="API_UserInfoAPI_NoAdmin" value="没有该管理员" />
    <add key="API_UserInfoAPI_UserStatus" value="用户在线状态" />
    <add key="API_UserInfoAPI_LimitDay" value="使用时限" />
    <add key="API_UserInfoAPI_UserID" value="用户ID" />    
    <add key="API_UserModuleAPI_NoRecord" value="没有记录" />
    <add key="API_UserModuleAPI_UserAuth" value="用户权限" />
    <add key="API_UserModuleAPI_UserModule" value="用户模块" />
    <!--Add by Andy 2006-11-22-->
    <add key="API_CommonAPI_UpdateInfo" value="浏览GM管理工具的更新信息!" />
    <add key="API_CommonAPI_NoUpdateInfo" value="当前没有要更新的内容" />
    <add key="API_CommonAPI_BugInfo" value="浏览GM管理工具的BUG日志信息!" />
    <add key="API_CommonAPI_NoBugInfo" value="当前没有要处理BUG信息" />
    <add key="API_Submit" value="提交" />
    <add key="API_Handle" value="处理" />
  </Common>
  <UserCharge>
	<add key="NineYou" value="久之游" />
	<add key="CardDetail_Account" value="玩家" />
	<add key="CardDetail_RegisterInfo" value="注册信息!" />
	<add key="CardDetail_NoRegisterInfo" value="没有该玩家注册信息!" />
	<add key="CardDetail_OneCard" value="一卡通" />
	<add key="CardDetail_LeisureCard" value="休闲卡" />
	<add key="CardDetail_FillDetail" value="充值明细" /> 
	<add key="CardDetail_NoChargeRecord" value="该帐号没有充值记录" />
	<add key="CardDetail_SumFillDetail" value="充值明细合计" /> 
	<add key="CardDetail_NoSumChargeRecord" value="该帐号没有充值合计" />
	<add key="CardDetail_ConsumeRecord" value="消费记录!" />
	<add key="CardDetail_NoConsumeRecord" value="该玩家没有消费记录!" />
	<add key="CardDetail_SumConsumeRecord" value="消费记录合计!" />
	<add key="CardDetail_NoSumConsumeRecord" value="该玩家没有消费记录合计!" />
	<add key="CardDetail_Reset" value="重置" />
	<add key="CardDetail_IDInfo" value="身份证信息" />
	<add key="CardDetail_SecurityInfo" value="安全码信息" />
	<add key="CardDetail_Lock" value="锁定" />
	<add key="CardDetail_Locked" value="该玩家帐号已经锁定" />
	<add key="CardDetail_UserInfo" value="用户信息" />	
	<add key="UserCashPurchase_GCash" value="G币购买记录!" />
	<add key="UserCashPurchase_NoGCash" value="没有该玩家G币购买记录" />
	<add key="UserCashPurchase_SumGCash" value="G币购买记录合计!" />
	<add key="UserCashPurchase_NoSumGCash" value="没有该玩家G币购买记录合计" />	
	<add key="UserCashPurchase_MCash" value="M币购买记录!" />
	<add key="UserCashPurchase_NoMCash" value="没有该玩家M币购买记录" />
	<add key="UserCashPurchase_SumMCash" value="M币购买记录合计!" />
	<add key="UserCashPurchase_NoSumMCash" value="没有该玩家M币购买记录合计" />
	<add key="UserCashPurchase_Integral" value="积分记录!" />
	<add key="UserCashPurchase_NoIntegral" value="没有该玩家积分记录" />
	<add key="UserCashPurchase_ItemChange" value="道具回收兑换记录!" />
	<add key="UserCashPurchase_NoItemChange" value="没有该玩家道具回收兑换记录" />
	<add key="UserCashPurchase_ItemChangeDetails" value="道具回收兑换详细记录!" />
	<add key="UserCashPurchase_NoItemChangeDetails" value="没有该玩家道具回收兑换详细记录" />
	<add key="UserConsumeDetail_ConsumeInfo" value="充值消费信息!" />
	<add key="UserConsumeDetail_NoConsumeInfo" value="没有充值消费信息!" />
  </UserCharge>
  <O2JAM>
	<add key="O2JAM_O2JAM" value="劲乐团" />
	<add key="O2JAM_CharacterInfoAPI_Account" value="玩家" />
	<add key="O2JAM_CharacterInfoAPI_CharacterInfo" value="人物资料信息" />
	<add key="O2JAM_CharacterInfoAPI_NoCharacterInfo" value="该玩家没有相关资料信息" />
	<add key="O2JAM_CharacterInfoAPI_NoAccount" value="该玩家帐号不存在!" />
	<add key="O2JAM_ItemLogInfoAPI_FillDetail" value="充值明细" /> 
	<add key="O2JAM_ItemLogInfoAPI_NoChargeRecord" value="该玩家没有充值记录" />
	<add key="O2JAM_ItemLogInfoAPI_SumFillDetail" value="充值明细合计" /> 
	<add key="O2JAM_ItemLogInfoAPI_NoSumChargeRecord" value="该玩家没有充值合计" />
	<add key="O2JAM_ItemLogInfoAPI_GCash" value="G币" />	
	<add key="O2JAM_ItemLogInfoAPI_Sum" value="合计" /> 
    <add key="O2JAM_ItemLogInfoAPI_Compensate" value="补偿" />     
    <add key="O2JAM_ItemShopInfoAPI_GameItem" value="游戏道具信息" /> 
    <add key="O2JAM_ItemShopInfoAPI_PersonalItem" value="身上的道具" /> 
    <add key="O2JAM_ItemShopInfoAPI_GiftItem" value="礼物盒的道具" /> 
    <add key="O2JAM_ItemShopInfoAPI_NoItem" value="当前没有道具" /> 
    <add key="O2JAM_ItemShopInfoAPI_NoItemOnPlayer" value="该玩家身上没有道具" /> 
    <add key="O2JAM_ItemShopInfoAPI_NoItemOnGift" value="该玩家礼物盒里面没有道具" />
    <add key="O2JAM_ItemShopInfoAPI_ConsumeRecord" value="消费记录!" />
	<add key="O2JAM_ItemShopInfoAPI_NoConsumeRecord" value="该玩家没有消费记录!" />	
	<add key="O2JAM_ItemShopInfoAPI_SumConsumeRecord" value="消费记录合计!" />
	<add key="O2JAM_ItemShopInfoAPI_NoSumConsumeRecord" value="该玩家没有消费记录合计!" />
	<add key="O2JAM_ItemShopInfoAPI_ItemName" value="玩家身上道具名称!" />
	<add key="O2JAM_ItemShopInfoAPI_NoItemName" value="没有对应玩家身上道具名称" />	
	<add key="O2JAM_MemberInfoAPI_ActiveState" value="激活状态" />
    <add key="O2JAM_MemberInfoAPI_NoActived" value="该玩家没有激活!" />
    <add key="O2JAM_MemberInfoAPI_AllBanAccount" value="所有停封帐号" />
    <add key="O2JAM_MemberInfoAPI_NoBanAccount" value="当前没有被停封的帐号" />
    <add key="O2JAM_MemberInfoAPII_BanState" value="封停状态!" />
	<add key="O2JAM_MemberInfoAPI_BanInfo" value="封停信息!" />
	<add key="O2JAM_MemberInfoAPI_NoAccountBanInfo" value="没有该玩家停封信息" />
	<add key="O2JAM_MemberInfoAPI_AccountUnlock" value="帐号解封" />
	<add key="O2JAM_MemberInfoAPI_BanAccount" value="帐号停封" />	
	<add key="O2JAM_MemberInfoAPI_CurrentStatus" value="当前状态!" />
	<add key="O2JAM_MemberInfoAPI_NoCurrentStatus" value="该玩家当前状态信息为空" />
  </O2JAM>
  <CR>
	<add key="CR_CR" value="劲爆足球" />
	<add key="CR_AccountInfoAPI_Account" value="玩家" />
	<add key="CR_AccountInfoAPI_AccountInfo" value="帐号信息!" />
	<add key="CR_AccountInfoAPI_NoAccount" value="该玩家帐号不存在!" />
	<add key="CR_AccountInfoAPI_ActiveState" value="激活状态!" />
	<add key="CR_CallBoardAPI_ChannelList" value="频道列表" />
	<add key="CR_CallBoardAPI_NoChannelList" value="没有频道列表信息！" />
	<add key="CR_CallBoardAPI_AllNoticeInfo" value="公告信息" />
	<add key="CR_CallBoardAPI_NoNoticeInfo" value="没有公告信息！" />
	<add key="CR_CallBoardAPI_ChannelInfo" value="频道信息" />
	<add key="CR_CharacterInfoAPI_CharacterInfo" value="人物资料信息" />
	<add key="CR_CharacterInfoAPI_NickNameInfo" value="人物昵称信息" />
	<add key="CR_CharacterInfoAPI_OnlineStatus" value="上下线状态!" />
  </CR>
  <Soccer>
	<add key="Soccer_Soccer" value="劲爆足球" />
	<add key="Soccer_CharacterInfoAPI_Account" value="玩家" />
	<add key="Soccer_CharacterInfoAPI_Character" value="角色" />
	<add key="Soccer_CharacterInfoAPI_AccountInfo" value="帐号信息!" />
	<add key="Soccer_CharacterInfoAPI_NoAccount" value="该玩家帐号不存在!" />
	<add key="ASoccer_CharacterInfoAPI_AlreadyUnlock" value="帐号已被解封" />
	<add key="Soccer_CharacterInfoAPI_AlreadyBan" value="帐号已被停封" />
	<add key="Soccer_CharacterInfoAPI_NoBan" value="该帐号未被停封" />
	<add key="Soccer_CharacterInfoAPI_GCash" value="G币信息" />
	<add key="Soccer_CharacterInfoAPI_BanInfo" value="封停信息!" />
	<add key="Soccer_CharacterInfoAPI_Recovery" value="恢复" />
  </Soccer>
  <Audition>
	<add key="AU_AU" value="劲舞团" />
	<add key="AU_AUAvatarListAPI_Account" value="玩家" /> 	
	<add key="AU_AUAvatarListAPI_AllGameItem" value="游戏里面所有道具!" />
	<add key="AU_AUAvatarListAPI_NoGameItem" value="游戏里面没有道具!" />
	<add key="AU_AUAvatarListAPI_AllBodyItem" value="身上道具!" />
	<add key="AU_AUAvatarListAPI_NoBodyItem" value="该玩家身上没有道具!" />
	<add key="AU_AUAvatarListAPI_GiftItem" value="礼物盒的道具!" />
	<add key="AU_AUAvatarListAPI_NoGiftItem" value="该玩家礼物盒里面没有道具!" />
	<add key="AU_AUAvatarListAPI_ConsumeRecord" value="消费记录!" />
	<add key="AU_AUAvatarListAPI_NoConsumeRecord" value="该玩家没有消费记录!" />	
	<add key="AU_AUAvatarListAPI_SumConsumeRecord" value="消费记录合计!" />
	<add key="AU_AUAvatarListAPI_NoSumConsumeRecord" value="该玩家没有消费记录合计!" />	
	<add key="AU_AUAvatarListAPI_TradeRecord" value="交易记录!" />
	<add key="AU_AUAvatarListAPI_NoTradeRecord" value="该玩家没有交易记录!" />
	<add key="AU_AUAvatarListAPI_SumTradeRecord" value="交易记录合计!" />
	<add key="AU_AUAvatarListAPI_NoSumTradeRecord" value="该玩家没有交易记录合计!" />
	<add key="AU_AUCharacterInfoAPI_CharacterLevelInfo" value="玩家等级经验信息!" />
	<add key="AU_AUCharacterInfoAPI_NoCharacterLevelInfo" value="没有玩家等级经验信息!" />	
	<add key="AU_AUCharacterInfoAPI_CharacterInfo" value="人物资料信息" />
	<add key="AU_AUCharacterInfoAPI_NoCharacterInfo" value="该玩家没有相关资料信息" />
	<add key="AU_AUCharacterInfoAPI_AccountInfo" value="帐号信息!" />
	<add key="AU_AUCharacterInfoAPI_NoAccount" value="该玩家帐号不存在!" />
	<add key="AU_AUMemberInfoAPI_AllBanAccount" value="所有停封帐号" />
	<add key="AU_AUMemberInfoAPI_NoBanAccount" value="当前没有被停封的帐号" />
	<add key="AU_AUMemberInfoAPI_BanState" value="封停状态!" />
	<add key="AU_AUMemberInfoAPI_BanInfo" value="封停信息!" />
	<add key="AU_AUMemberInfoAPI_NoAccountBanInfo" value="没有该玩家停封信息" />
	<add key="AU_AUMemberInfoAPI_AccountUnlock" value="帐号解封" />
	<add key="AU_AUMemberInfoAPI_BanAccount" value="帐号停封" />
	<add key="AU_AUMemberInfoAPI_NickName" value="呢称" />
	<add key="AU_AUMemberInfoAPI_AlreadyUnlock" value="帐号已被解封" />
	<add key="AU_AUMemberInfoAPI_AlreadyBan" value="帐号已被停封" />
  </Audition>
  <BAF>
	<add key="O2JAM2API_BAF" value="劲乐团II" />
	<add key="O2JAM2API_AccountInfoAPI_Account" value="玩家" /> 
	<add key="O2JAM2API_AccountInfoAPI_AccountInfo" value="帐号信息!" />
	<add key="O2JAM2API_AccountInfoAPI_NoAccount" value="该玩家帐号不存在!" />
	<add key="O2JAM2API_AccountInfoAPI_ActiveState" value="激活状态!" />
	<add key="O2JAM2API_AccountInfoAPI_AllBanAccount" value="所有停封帐号" />
	<add key="O2JAM2API_AccountInfoAPI_NoBanAccount" value="当前没有被停封的帐号" />
	<add key="O2JAM2API_AccountInfoAPI_BanState" value="封停状态!" />
	<add key="O2JAM2API_AccountInfoAPI_BanInfo" value="封停信息!" />
	<add key="O2JAM2API_AccountInfoAPI_NoAccountBanInfo" value="没有该玩家停封信息" />
	<add key="O2JAM2API_AccountInfoAPI_AccountUnlock" value="帐号解封" />
	<add key="O2JAM2API_AccountInfoAPI_BanAccount" value="帐号停封" />
	<add key="O2JAM2API_AccountInfoAPI_AccountKick" value="帐号剔除" />
	<add key="O2JAM2API_CharacterInfoAPI_CharacterInfo" value="人物资料信息" />
	<add key="O2JAM2API_CharacterInfoAPI_NoCharacterInfo" value="该玩家没有相关资料信息" />
	<add key="O2JAM2API_CharacterInfoAPI_CharacterLevelInfo" value="玩家等级经验信息!" />
	<add key="O2JAM2API_CharacterInfoAPI_NoCharacterLevelInfo" value="没有玩家等级经验信息!" />	
	<add key="O2JAM2API_ItemShopAPI_AllGameItem" value="游戏里面所有道具!" />
	<add key="O2JAM2API_ItemShopAPI_NoGameItem" value="游戏里面没有道具!" />
	<add key="O2JAM2API_ItemShopAPI_AllBodyItem" value="身上道具!" />
	<add key="O2JAM2API_ItemShopAPI_NoBodyItem" value="该玩家身上没有道具!" />
	<add key="O2JAM2API_ItemShopAPI_GiftItem" value="礼物盒的道具!" />
	<add key="O2JAM2API_ItemShopAPI_NoGiftItem" value="该玩家礼物盒里面没有道具!" />
	<add key="O2JAM2API_ItemShopAPI_OnlineStatus" value="上下线状态!" />
	<add key="O2JAM2API_ItemShopAPI_NoOnlineStatus" value="没有该玩家上下记录线" />	
	<add key="O2JAM2API_ItemShopAPI_ConsumeRecord" value="消费记录!" />
	<add key="O2JAM2API_ItemShopAPI_NoConsumeRecord" value="该玩家没有消费记录!" />	
	<add key="O2JAM2API_ItemShopAPI_SumConsumeRecord" value="消费记录合计!" />
	<add key="O2JAM2API_ItemShopAPI_NoSumConsumeRecord" value="该玩家没有消费记录合计!" />	
	<add key="O2JAM2API_ItemShopAPI_TradeRecord" value="交易记录!" />
	<add key="O2JAM2API_ItemShopAPI_NoTradeRecord" value="该玩家没有交易记录!" />
  </BAF>
  <SDO>
    <add key="SDOAPI_SDO" value="超级舞者" />
    <add key="SDOAPI_SDOChallengeDataAPI_Challenge" value="挑战" />
    <add key="SDOAPI_SDOChallengeDataAPI_Scene" value="场景信息" />
    <add key="SDOAPI_SDOChallengeDataAPI_SceneProbability" value="场景概率信息" />
    <add key="SDOAPI_SDOChallengeDataAPI_GameMusicList" value="游戏音乐列表!" />
    <add key="SDOAPI_SDOChallengeDataAPI_ProbabilityList" value="查找在场景中获得道具概率的列表!" />
    <add key="SDOAPI_SDOChallengeDataAPI_NoChallengeScene" value="没有挑战场景!" />
    <add key="SDOAPI_SDOChallengeDataAPI_NoGameMusicList" value="没有游戏音乐列表!" />
    <add key="SDOAPI_SDOChallengeDataAPI_NoSceneList" value="没有场景信息列表!" />
    <add key="SDOAPI_SDOChallengeDataAPI_NoProbabilityList" value="没有该场景中获胜概率的列表!" />        
    <add key="SDOAPI_SDOCharacterInfoAPI_NoAccount" value="玩家帐号不存在!" />
    <add key="SDOAPI_SDOCharacterInfoAPI_AccountInfo" value="玩家人物资料信息" />  
    <add key="SDOAPI_SDOCharacterInfoAPI_NoRelativeInfo" value="没有该玩家相关资料信息" />      
    <add key="SDOAPI_SDOItemLogInfoAPI_Account" value="玩家" />   
    <add key="SDOAPI_SDOItemLogInfoAPI_FillDetail" value="充值明细" />  
    <add key="SDOAPI_SDOItemLogInfoAPI_Sum" value="合计" /> 
    <add key="SDOAPI_SDOItemLogInfoAPI_GCash" value="G币" /> 
    <add key="SDOAPI_SDOItemLogInfoAPI_Compensate" value="补偿" />   
    <add key="SDOAPI_SDOItemLogInfoAPI_NoChargeRecord" value="该玩家没有充值记录" />   
    <add key="SDOAPI_SDOItemLogInfoAPI_NoTotalValue" value="该玩家没有充值合计!" />       
    <add key="SDOAPI_SDOItemShopAPI_GameItem" value="游戏道具信息" /> 
    <add key="SDOAPI_SDOItemShopAPI_PersonalItem" value="身上的道具" /> 
    <add key="SDOAPI_SDOItemShopAPI_GiftItem" value="礼物盒的道具" /> 
    <add key="SDOAPI_SDOItemShopAPI_OnlineStatus" value="上下线状态" /> 
    <add key="SDOAPI_SDOItemShopAPI_ConsumeRecord" value="消费记录合计" /> 
    <add key="SDOAPI_SDOItemShopAPI_TradeRecord" value="交易记录" />     
    <add key="SDOAPI_SDOItemShopAPI_NoItem" value="当前没有道具" /> 
    <add key="SDOAPI_SDOItemShopAPI_NoItemOnPlayer" value="该玩家身上没有道具" /> 
    <add key="SDOAPI_SDOItemShopAPI_NoItemOnGift" value="该玩家礼物盒里面没有道具" />
    <add key="SDOAPI_SDOItemShopAPI_NoOnlineStatus" value="没有该玩家上下记录线" />
    <add key="SDOAPI_SDOItemShopAPI_NoItemLimit" value="没有该道具的期限" />
    <add key="SDOAPI_SDOItemShopAPI_NoChargeRecord" value="该玩家没有消费记录" />
    <add key="SDOAPI_SDOItemShopAPI_NoTradeRecord" value="该玩家没有交易记录" />    
    <add key="SDOAPI_SDOMemberInfoAPI_ActiveState" value="激活状态" />
    <add key="SDOAPI_SDOMemberInfoAPI_NoActived" value="该玩家没有激活!" />
    <add key="SDOAPI_SDOMemberInfoAPI_AllBanAccount" value="所有停封帐号" />
    <add key="SDOAPI_SDOMemberInfoAPI_NoBanAccount" value="当前没有被停封的帐号" />
    <add key="SDOAPI_SDOMemberInfoAPI_BanInfo" value="封停信息" />
    <add key="SDOAPI_SDOMemberInfoAPI_NoBanInfo" value="没有该玩家停封信息" />
    <add key="SDOAPI_SDOMemberInfoAPI_AccountUnlock" value="帐号解封" />
    <add key="SDOAPI_SDOMemberInfoAPI_AccountLock" value="帐号停封" />
    <add key="SDOAPI_SDOMemberInfoAPI_NoCurrentInfo" value="该玩家当前状态信息为空" />
    <add key="SDOAPI_SDOMemberInfoAPI_CurrentState" value="当前状态" />    
    <add key="SDOAPI_SDOMemberInfoAPI_PadActive" value="跳舞毯激活" />
    <add key="SDOAPI_SDOMemberInfoAPI_PadBan" value="跳舞毯停用" />    
    <add key="SDOAPI_SDONoticeInfoAPI_SendNoticeInfo" value="发送公告信息" />
    <add key="SDOAPI_SDONoticeInfoAPI_SendNoticeList" value="发送公告任务列表" />
    <add key="SDOAPI_SDONoticeInfoAPI_NoNoticeList" value="没有最新任务列表" />
    <add key="SDOAPI_SDONoticeInfoAPI_ChannelList" value="频道列表!" />
    <add key="SDOAPI_SDONoticeInfoAPI_NoChannelInfo" value="没有最新频道信息" />
    <add key="SDOAPI_SDONoticeInfoAPI_LoginFailure" value="登录失败" />
  </SDO>
  <appSettings>
    <add key="SongPath" value="E:\SDO\song.txt" />
    <add key="ScenePath" value="E:\SDO\scene.txt" />
    <add key="DatPath" value="E:\SDO\serverconfig.dat" />
  </appSettings>
</configuration>